/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *last!!
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Poiret One", cursive;
}

main {
  background-image: url(https://imgur.com/HwBYbmR);
}

body {
  text-align: left;
  background-color: #feeaef;
}

h1 {
  font-size: 50px;
  font-weight: lighter;
}
